* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  color: black;
}

/* 背景大图 */
#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/bigphoto3.webp);
  background-size: cover;
  background-position: right;
}

class {
  size-adjust: 50%;
}

.container {
  padding: 10px 10%;
}

/* move the header section to right */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 400px;
}

/*将标签向页面右边靠，并且水平陈列，中间留空*/
nav ul li {
  display: inline-block; /* 将列表项水平排列 */
  list-style: none;
  margin-left: 10px; /* 设置左边距 */
  margin-right: 30px; /* 设置右边距 */
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

/* hover effect */
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: rgb(130, 158, 130);
  position: absolute;
  left: 0;
  bottom: -6px;
}

nav ul li a:hover::after {
  width: 100%; /* 当链接被悬停时，设置伪元素的宽度为 100% */
}

.header-text {
  margin-top: 13%;
  font-size: 20px;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
  color: rgb(77, 93, 77);
}

.header-text h1 span {
  color: rgb(217, 2, 2);
}

.header-text h2 {
  font-size: 40px;
  margin-top: 20px;
  color: rgb(77, 93, 77);
}

/* ---------------About Me section---------------- */
#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 45%;
}

.about-col-1 img {
  width: 110%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 45%;
}

.sub-title {
  font-size: 40px;
  font-weight: 600;
  color: black;
}

.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

/* underline of tak-links */
.tab-links::after {
  content: "";
  width: 0%;
  height: 3px;
  background-color: lightcoral;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  width: 60%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}

.tab-contents ul li span {
  color: rgb(180, 43, 68);
  font-size: 14px;
}

/* 隐藏所有的标签内容 */
.tab-contents {
  display: none;
}

/* 显示skills的内容 */
.tab-contents.active-tab {
  display: block;
}

/* ---------------My Portfolio section---------------- */
#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 20px;
  display: block;
  transition: transform 0.6s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(133, 130, 130, 0.6), rgb(73, 94, 69));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  color: aliceblue;
  font-size: 14px;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 20px;
  line-height: 50px;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

/* 当鼠标放在图片上会变大 */
.work:hover img {
  transform: scale(1.2);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #325939;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: black;
  transition: background 0.5s;
}

.btn:hover {
  background: rgb(156, 180, 156);
}
